# Social Vulnerability Project
## Scratchpad

In [2]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('Texas.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5254 entries, 0 to 5253
Columns: 124 entries, ST to E_DAYPOP
dtypes: float64(58), int64(62), object(4)
memory usage: 5.0+ MB

In [5]:
df.head().T

                   0         1         2         3         4
ST                48        48        48        48        48
STATE          TEXAS     TEXAS     TEXAS     TEXAS     TEXAS
ST_ABBR           TX        TX        TX        TX        TX
STCNTY         48001     48001     48001     48001     48001
COUNTY      Anderson  Anderson  Anderson  Anderson  Anderson
...              ...       ...       ...       ...       ...
E_UNINSUR        606        64        12       892       832
M_UNINSUR        199        50        18       346       396
EP_UNINSUR      11.8      21.5       5.5      19.9      15.1
MP_UNINSUR       3.7      13.6       8.5         7       6.8
E_DAYPOP        3098      4344      5795      3532      5496

[124 rows x 5 columns]

In [9]:
vr = pd.read_csv('voter_registration_2018.csv')

In [10]:
vt = pd.read_csv('voter_turnout_2018.csv')

In [11]:
vr.head()

  County Name Precincts Voter Registration Suspense Voters Non-Suspense Voters
0    ANDERSON        24             27,788           3,993              23,795
1     ANDREWS         4              9,204           1,053               8,151
2    ANGELINA        47             50,779           6,744              44,035
3     ARANSAS         6             17,130           3,368              13,762
4      ARCHER        14              6,266             629               5,637

In [12]:
vt.head()

          POLL PLACE ID             POLLING PLACE NAME  VOTER COUNT
ANDERSON        95607.0      1ST BAPTIST CHURCH-SLOCUM          337
ANDERSON        94334.0             1ST BAPTIST NECHES          239
ANDERSON        25633.0            1ST BAPTIST-ELKHART          487
ANDERSON         5342.0  ANTIOCH BAPTIST CHURCH BOX 15          149
ANDERSON        12261.0   ANTIOCH BAPTIST CHURCH BOX 8           28

In [14]:
vr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   County Name          255 non-null    object
 1   Precincts            255 non-null    object
 2   Voter Registration   255 non-null    object
 3   Suspense Voters      255 non-null    object
 4   Non-Suspense Voters  255 non-null    object
dtypes: object(5)
memory usage: 10.1+ KB

In [15]:
vt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5658 entries, ANDERSON to nan
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   POLL PLACE ID       5657 non-null   float64
 1   POLLING PLACE NAME  5596 non-null   object
 2   VOTER COUNT         5658 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 176.8+ KB

In [18]:
vt.index.value_counts()

HARRIS       798
DALLAS       466
TARRANT      330
BEXAR        300
TRAVIS       179
            ...
MOTLEY         1
ANDREWS        1
MATAGORDA      1
IRION          1
TERRELL        1
Length: 251, dtype: int64

In [20]:
pp = pd.read_csv('pollplace.csv')

In [21]:
pp.head()

,COUNTY,ELECTION ID,ELECTION NAME,COUNTY NAME,POLL PLACE NAME,ADDRESS,POLLING PLACE TYPE,DATE AND TIMINGS,PRECINCTS
0,ANDERSON,44144,2020 NOVEMBER 3RD GENERAL ELECTION,ANDERSON,1ST BAPTIST CHURCH-ELKHART,424 W PARKER ELKHART TX 75839,ELECTION DAY,11/03/2020-11/03/2020 07:00 AM-07:00 PM,2
1,ANDERSON,44144,2020 NOVEMBER 3RD GENERAL ELECTION,ANDERSON,1ST BAPTIST CHURCH-SLOCUM,5875 E ST HWY 294 ELKHART TX 75839,ELECTION DAY,11/03/2020-11/03/2020 07:00 AM-07:00 PM,4
2,ANDERSON,44144,2020 NOVEMBER 3RD GENERAL ELECTION,ANDERSON,ANTIOCH BAPTIST CHURCH BOX 15,139 ANDERSON CR 389 PALESTINE TX 75801,ELECTION DAY,11/03/2020-11/03/2020 07:00 AM-07:00 PM,15
3,ANDERSON,44144,2020 NOVEMBER 3RD GENERAL ELECTION,ANDERSON,ANTIOCH BAPTIST CHURCH BOX 8,907 E MURCHISON PALESTINE TX 75801,ELECTION DAY,11/03/2020-11/03/2020 07:00 AM-07:00 PM,8
4,ANDERSON,44144,2020 NOVEMBER 3RD GENERAL ELECTION,ANDERSON,CAYUGA HIGH SCHOOL,17750 N US HWY 287 CAYUGA TX 75832,ELECTION DAY,11/03/2020-11/03/2020 07:00 AM-07:00 PM,24

In [22]:
pp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7187 entries, 0 to 7186
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   COUNTY              7187 non-null   object
 1   ELECTION ID         7187 non-null   int64
 2   ELECTION NAME       7187 non-null   object
 3   COUNTY NAME         7187 non-null   object
 4   POLL PLACE NAME     7187 non-null   object
 5   ADDRESS             7187 non-null   object
 6   POLLING PLACE TYPE  7187 non-null   object
 7   DATE AND TIMINGS    6777 non-null   object
 8   PRECINCTS           6934 non-null   object
dtypes: int64(1), object(8)
memory usage: 505.5+ KB

In [23]:
tc = pd.read_csv('texas_COUNTY.csv')

In [24]:
tc.head()

,ST,STATE,ST_ABBR,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
0,48,TEXAS,TX,Carson,48065,"Carson County, Texas",920.234435,6032,0,2793,...,0,0,0,0,0,684,174,11.4,2.9,7981
1,48,TEXAS,TX,Archer,48009,"Archer County, Texas",903.288571,8789,0,4150,...,0,0,0,0,0,996,189,11.4,2.2,6079
2,48,TEXAS,TX,Rockwall,48397,"Rockwall County, Texas",127.109939,93642,0,33038,...,0,0,0,0,0,10446,1077,11.2,1.2,71032
3,48,TEXAS,TX,Armstrong,48011,"Armstrong County, Texas",909.108694,1916,125,932,...,0,0,0,0,0,141,53,7.6,2.6,1354
4,48,TEXAS,TX,Borden,48033,"Borden County, Texas",897.442389,665,119,441,...,0,0,0,0,2,31,20,4.7,2.9,586